{{ template "base" . }}

{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">User Profile</h1>
      <hr />

      <!-- decide whether or not to display profile picture -->

      <hr />
      <form
        action="/user/upload-profile-picture"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="file" class="form-label">Choose an image</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          accept="image/*"
        />

        <input type="submit" class="btn btn-primary mt-3" value="Upload" />
      </form>
    </div>
  </div>
</div>
{{ end }}
